*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
body{
    font-family: 'Didact Gothic', sans-serif; 
    color: #0e0e0e; 
    text-align: center; 
    line-height: 1.6; 
    font-size: 24px;
    height: 100vh;
    max-width: 100vw;
    margin: 10px;
    overflow: hidden;
}
a{
    height: fit-content;
    width: fit-content;
}
h2{
    margin: 0;
}

                                                /*PagerHeader*/
.page-header{
    height: fit-content;
    position: relative;
    top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.page-header_item{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    width: 2vw;
}
.page-header_item:last-child{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list{
    margin: 0;
}
.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}

                                                /*Work Grid*/
.workgrid{
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    justify-items: center;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
    -ms-grid-columns: 100px 20px 200px 200px 200px;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    height: auto;
}
.workgridcontainer{
    height: 98vh;
}
.workgrid_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:lightgrey;
    width: 450px;
    height: 350px;
    border-radius: 15px;
}
.itemdescription{
    font-size: 14px;
    width: 90%;
    text-align: center;
    margin: 0;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 5px;
}
.pokedex{
    height: 150px;
    width: auto;
}

                                               /*Page Footer*/

footer{
    display: block;
    position:fixed;
    bottom: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding-bottom: 2px;
    left: 0;
    margin: auto;
}
.footerwords{
    margin: 2px;
}
/*
.page-footer{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
*/
.profilelink:hover{
    opacity: .8;
}

a{
    -webkit-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
    display: inline-block;
    color: #338eff; 
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
a:link{color:#338eff}
a:visited{color: #ff338e;}
a:hover{
    font-weight: bold;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
a:focus{font-weight: bold;}
a:active{
    color: #133560;
    -webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
            transform: scale(1.025);
}

table{
    font-size: 75%;
}

                                               /*Home Page*/

.homeprofile{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    border-radius: 5%;
    margin: auto;
    top: 18vh;
}
.homeportrait{
    float: left;
    border-radius: 50%;
    width: 300px; 
    height: 300px;
}
.pageh1{
    font-size: 36px;
    margin: 1px;
}
.descriptioncontent{
    padding: 3px;
}
                                         /*About Me page*/


.aboutmeflexparent{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.aboutmeflexphoto{
    border-radius: 20px;
    height: 40vh;
    width: auto;
}
.aboutmeflexdescription{
    height: 40VH;
    width: 45vw;
    padding: 5px;
    overflow-y: scroll;
}
.aboutmecontent{
    text-indent: .5in;
    text-align: left;
    font-size: auto;
    margin: 0;
    padding-left: 5px;
}

.cvlink{
    position: relative;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
.greensborolink{
    display: inline;
}

.downloadbutton{
    font-family: inherit;
    display: inline-block;
    border: none;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    background-color:#ffffff;
    border-radius: 5px;
    -webkit-transition-duration: .1s;
         -o-transition-duration: .1s;
            transition-duration: .1s;
}
.downloadbutton:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    opacity: .95;
}
.downloadbutton:active{
    -webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
            transform: scale(1.025);
}



                                          /*Contact Me Page*/

form{
    display: inline-block;
}

                                        /*Universals*/
li{list-style-type: none;}

                                         /*Keyframes and animations*/

                                          /*Media Queries*/


@media all and (min-width: 320px) and (max-width: 1000px){
    /*HEADER AND FOOTER*/
    .page-header{
        height: fit-content;
    }
    .navigation-list{
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }
    .footerwords{
        font-size: 18px;
    }

    /*HOME PAGE ELEMENTS*/
    .homeportrait{
        height: 235px;
        width: auto;
    }
    .homeprofile{
        top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .homedescription{
        height: fit-content;
    }
    .descriptioncontent{
        font-size: 18px;
        margin: 0;
    }

    /*WORK PAGE ELEMENTS*/
    .workgridcontainer{
        overflow-y: auto;
        max-height: 90vh;
        padding-bottom: 15px;
    }
    .workgrid{
        display: flex;
        flex-direction: column;
    }
    .workgrid_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:lightgrey;
        width: 85vw;
        height: 350px;
        border-radius: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h1 {
      font-size: 22px;
    }

    /*ABOUT ME PAGE ELEMENTS*/
    .aboutmeflexparent{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: fit-content;
        max-height: fit-content;
    }
    .aboutmeflexphoto{
        height: auto;
        width: 70vw;
    }
    .aboutmeflexdescription{
        font-size: 18px;
        height: 50%;
        width: auto;
        overflow-y: scroll;
    }
    .aboutmecontent{
        text-indent: .5in;
        text-align: left;
    }

    /*CONTACT PAGE ELEMENTS*/
    .contactinfo{
        height: fit-content;
    }
    .contactlocation{
        font-size: 16px;
        margin: 0;
    }
}